body {
  background-color: #f0f3fa;
  height: 100%;
}
.baseButton {
  height: 42px;
  background: #e8ebf4;
  border-radius: 6px;
  color: #000;
  padding: 12px 15px;
}
.baseButton:hover {
  // background-color: red;
  color: #000;
}
.el-button--primary {
  background: #1e78f0;
}
.user-popover {
  border: none;
  padding: 0;
  margin-left: -18px;
}
