body {
  background-color: #f0f3fa;
  height: 100%;
}
.baseButton {
  height: 42px;
  background: #e8ebf4;
  border-radius: 6px;
  color: #000;
  padding: 12px 15px;
}
.baseButton:hover {
  // background-color: red;
  color: #000;
}
.el-button--primary {
  background: #1e78f0;
}
.user-popover {
  border: none;
  padding: 0;
  margin-left: -18px;
}
.popover { 
  padding: 0;
  margin-top: 0px;
}
.el-message-box {
  width: 377px;
height: 168px;
background: #FFFFFF;
border-radius: 10px;
padding: 0;
.el-message-box__header {
  display: none;
}
.el-message-box__content {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
font-family: Source Han Sans CN;
font-weight: 400;
color: #141414;
}
.el-message-box__btns {
  margin-top: 20px;
  text-align: center;
 
  .el-button--default {
    margin:0 28px;

    background: #1E78F0;
border-radius: 6px;
color: white;
width: 88px;
height: 40px;
  }
  .el-button--primary{
    background: #FF6161;
border-radius: 6px;
  }
}
}